@font-face {
    font-family: 'YourCustomFont';
    src: url('YoungSerif-Regular.ttf') format('truetype');
}

body {
    font-family: 'YourCustomFont', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 2em;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 150px;
    height: 150px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border: 2px solid #555;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.2s, color 0.2s;
    margin: 10px;
}

.button:hover {
    background-color: #555;
    color: #fff;
}

@media (max-width: 768px) {
    .buttons {
        flex-direction: column;
        align-items: center;
    }

    .button {
        padding: 20px;
        width: 150px;
        height: 150px;
        font-size: 1.5em; /* Increase text size for mobile */
        margin: 10px;
    }

    .buttons > .button:nth-child(2n) {
        margin-right: 10px; /* Add margin to every other button for spacing */
    }

    .buttons > .button:nth-child(2n+1) {
        margin-left: 10px; /* Add margin to the remaining buttons for spacing */
    }
}
